<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>7BBD33B7-63B0-4D96-9BE0-BDCA97FE89E0</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-6s</string>
	<key>name</key>
	<string>iPhone 6s</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-11-4</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
