<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>1E756F87-FF14-45C0-9775-A4469F72599E</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPad-Air</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPad Air</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-9-3</string>
	<key>state</key>
	<integer>3</integer>
</dict>
</plist>
