<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>C321F874-FA51-4DC5-8B9A-2E6E095D8C90</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-XR</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPhone XR</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-12-1</string>
	<key>state</key>
	<integer>3</integer>
</dict>
</plist>
